<title>YouCard - {{ title }}</title>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% block body %}
    <div id="list">

        {% if cards is defined %}
            <h1>{{ title }}</h1>
            <div class="list-card">
                {% for card in cards %}
                    <a href="{{ path("update_card", {id: card.id}) }}" class="card" style="{{ card.rarity.color }};
                           background: linear-gradient(148deg, {{ card.rarity.color }} 0%,
                            #FFFFFF 35%, #FFFFFF 42%, {{ card.rarity.color }} 84%);">
                        <div class="cardHeader">
                            <span>{{ card.name }}</span>
                            <span>({{ card.faction.name }})</span>
                        </div>
                        <div class="cardImage">
                            {% if card.image is null or card.image is empty %}
                                <img src="{{ asset('img/empty.jpg') }}" alt="empty">
                            {% else %}
                                <img src="{{ asset('uploads/img/') ~ card.image }}" alt="image card">
                            {% endif %}
                        </div>
                        <div class="cardFooter">
                            <div class="cardNumber" style="background-color:#B03A2E">{{ card.attack }}</div>
                            <div class="cardNumber" style="background-color:#2E86C1">{{ card.mana }}</div>
                            <div class="cardNumber" style="background-color:#229954">{{card.health}}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if factions is defined %}
            <div class="example-wrapper">
                <h1>{{ title }}</h1>
                {% for faction in factions %}
                    <li>
                        <a class="link" href="{{ path("update_faction", {id: faction.id}) }}">{{ faction.name }}</a>
                    </li>
                {% endfor %}
            </div>
        {% endif %}

        {% if decks is defined %}
            <div class="example-wrapper zone">
                <h1>{{ title }}</h1>
                {% for deck in decks %}
                    <li><a class="link" href="{{ path('get_deck', {id: deck.id}) }}">{{ deck.name }}</a></li>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
