<title>test</title>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% block body %}

    {% if card is defined %}
        <div class="list-card example-wrapper">
            <h1>{{ card.name }}</h1>
            <div class="card" style="{{ card.rarity.color }};
                    background: linear-gradient(148deg, {{ card.rarity.color }} 0%,
                    #FFFFFF 35%, #FFFFFF 42%, {{ card.rarity.color }} 84%);">
                <div class="cardHeader">
                    <span>{{ card.name }}</span>
                    <span>({{ card.faction.name }})</span>
                </div>
                <div class="cardImage">
                    {% if img is null or img is empty %}
                        <img src="{{ asset('img/empty.jpg') }}" alt="empty">
                    {% else %}
                        <img src="{{ asset('uploads/img/') ~ img }}" alt="image card">
                    {% endif %}
                </div>
                <div class="cardFooter">
                    <div class="cardNumber" style="background-color:#B03A2E">{{ card.attack }}</div>
                    <div class="cardNumber" style="background-color:#2E86C1">{{ card.mana }}</div>
                    <div class="cardNumber" style="background-color:#229954">{{card.health}}</div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if faction is defined %}
        <div class="example-wrapper">
            <h1>{{ faction.name }}</h1>
        </div>
    {% endif %}

    {% if deck is defined %}
        <div class="example-wrapper">
            <h1>{{ deck.name }}</h1>
        </div>
    {% endif %}

    {% if rarity is defined %}
        <div class="example-wrapper zone">
            <h1>{{ rarity.name }}</h1>
            <div class="rarity-show">
                <div class="rarity-color" style="background: linear-gradient(148deg, {{ rarity.color }} 0%,
                        #FFFFFF 35%, #FFFFFF 42%, {{ rarity.color }} 84%); color: transparent !important;"> {{ rarity.color }} </div>
            </div>
        </div>
    {% endif %}

    <div class="example-wrapper">
        {{ form_start(form, { 'action': path(app.request.attributes.get("_route"), {id: id}), "method" : "POST", "enctype": "multipart/form-data"}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}