<title>YouCard - {{ deck.name }}</title>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% block body %}
    <div id="list">
        <div class="list-card">
            <h1>{{ deck.name }}</h1>
            {% if deckcards is defined %}
                {% for deckcard in deckcards %}
                    <a href="{{ path("remove_deckcard", {id: deckcard.id}) }}">
                        <div class="card" style="{{ deckcard.card.rarity.color }};
                                background: linear-gradient(148deg, {{ deckcard.card.rarity.color }} 0%,
                                #FFFFFF 35%, #FFFFFF 42%, {{ deckcard.card.rarity.color }} 84%);">
                            <div class="cardHeader">
                                <span>{{ deckcard.card.name }}</span>
                                <span>({{ deckcard.card.faction.name }})</span>
                            </div>
                            <div class="cardImage">
                                {% if deckcard.card.image is null or deckcard.card.image is empty %}
                                    <img src="{{ asset('img/empty.jpg') }}" alt="empty">
                                {% else %}
                                    <img src="{{ asset('uploads/img/') ~ deckcard.card.image }}" alt="image card">
                                {% endif %}
                            </div>
                            <div class="cardFooter">
                                <div class="cardNumber" style="background-color:#B03A2E">{{ deckcard.card.attack }}</div>
                                <div class="cardNumber" style="background-color:#2E86C1">{{ deckcard.card.mana }}</div>
                                <div class="cardNumber" style="background-color:#229954">{{ deckcard.card.health }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="list-choice">
        <div class="list-choice-card">
            {% for card in  cards %}
                <div class="img-card">
                    <div class="img-card-choice">
                        {% if card.image is null or card.image is empty %}
                            <a class="cardImage" href="{{ path("set_deck", {id_deck: deck.id, id_card: card.id}) }}">
                                <img src="{{ asset('img/empty.jpg') }}" alt="empty">
                            </a>
                        {% else %}
                            <a class="cardImage" href="{{ path("set_deck", {id_deck: deck.id, id_card: card.id}) }}">
                                <img src="{{ asset('uploads/img/') ~ card.image }}" alt="image card">
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-title">{{ card.name }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}